.navbar {
	background-color: #428bca;
}

.navbar .navbar-brand {
	color: #ffffff;
}

input {
	width:80px;
	margin-right:10px;
}

label {
	width:80px;
}

th,td {
	padding: 0 7px;
	text-align: right
}

.money {
	color: #428bca;
}