.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #428bca;
  stroke-width: 1.5px;
}

.baseline {
  stroke-dasharray: 4, 4;
}