.navbar {
  background-color: #428bca;
  margin-bottom: 10px;
}

.navbar .navbar-brand {
  color: #ffffff;
}

select,
label {
  width: 90px;
  margin-left: 0;
}

input{
  width: 90px;
  margin-right: 5px;
  margin-left: 0;
}

th,
td {
  padding: 0 7px;
  text-align: right;
}

.money {
  padding-left: 1rem;
  color: #428bca;
}

tbody,
tfoot tr:first-child {
  border-top: #428bca solid 1px;
}

.line {
  fill: none;
  stroke: #428bca;
  stroke-width: 1.5px;
}

.baseline {
  stroke-dasharray: 4, 4;
}

.material-icons{
  display: inline-flex;
  vertical-align:text-top;
  color: rgb(1, 41, 116);
}

.help-icon{
  display: inline-flex;
  vertical-align: middle;
  color: rgb(1, 41, 116);
  font-size: 15;
}

.required{
  color:red
}

.percentage {
  color: rgb(1, 41, 116);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

h3{
  margin: 0px;
}

.panel{
  margin: 5px;
}

.panel-body{
  padding: 5px 10px;
}